# compiled binary files 
bin/*
src/*.o

# all example files and data
data/*
examples/*
!examples/**/*.sh


# backup data
etc/how_to_generate_genomic-background-models_for_gkm-SVM-repeat-masking/hg38/backup

